<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".dll" />
      <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
      <remove fileExtension=".dat" />
      <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
      <remove fileExtension=".blat" />
      <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
    </staticContent>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/wasm" enabled="false" />
        <add mimeType="application/octet-stream" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    <rewrite>
      <rules>
        <rule name="Serve subdir">
          <match url=".*" />
          <action type="Rewrite" url="wwwroot/{R:0}" />
        </rule>
        <rule name="SPA fallback routing" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="wwwroot/" />
        </rule>
      </rules>
    </rewrite>
    <httpHeaders>
      <remove name="Cache-Control" />
      <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
    </httpHeaders>
  </system.webServer>
</configuration>
