@page "/home"

<PageTitle>Home - CRC WebPortal</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">Welcome to CRC WebPortal</h1>
            <p class="lead mb-4">You have successfully signed in!</p>
        </div>
    </div>
</div>
